.view-home{
  $root: '.view-home';

  .main{
    @include b-relative;
    @include z(1);
  }

  .container{
    width: calc(100% / 14 * 12);
    max-width: 72rem;
    @include mx(auto);
    
    @include media('>m'){
      width: calc(100% / 14 * 10);
    }
  }

  ////////////////////////////////////////////////////
  //
  //	Figures
  //
  ////////////////////////////////////////////////////

  #{$root}__figure {
    @include b-absolute;
    @include t(0);
    @include l(0);
    @include z(1);
  }

  #{$root}__top-left {
    top: 10rem;

    width: 163px;
    height: 400px;

    @include media('>m'){
      width: 327px;
      height: 799px;
    }
  }

  #{$root}__top-right{
    left: unset;
    right: 0;
    width: 316;
    height: 289px;

    @include media('>m'){
      width: 633px;
      height: 578px;
    }
  }

  #{$root}__bottom-right {
    bottom: 1rem;
    top: unset;

    left: unset;
    right: 0;
    width: 235px;
    height: 175px;

    @include media('>m'){
      width: 471px;
      height: 351px;
    }
  }


  ////////////////////////////////////////////////////
  //
  //	Logo
  //
  ////////////////////////////////////////////////////
  
  #{$root}__logo{
    @include py(xxl);
    
    #{$root}__glyph {
      width: 4rem;
      height: auto;
    }
    
    @include media('>m'){
      @include py(xxxxl);
    }

    #leg {
      animation: logo-leg 10s alternate-reverse infinite;
    }
  }


  ////////////////////////////////////////////////////
  //
  //	Intro
  //
  ////////////////////////////////////////////////////

  #{$root}__greeting{
    @include f(l);
    @include f(light50);
  }

  #{$root}__name{
    @include m(0);

    @include f(body);
    @include f(xxxxxxl);
    @include f(light90);
    @include f(medium);
  }

  #{$root}__title{
    @include m(0);

    @include f(body);
    @include f(xxxxxxl);
    @include f(light40);
    font-weight: 400;
    line-height: 1.25;
  }  

  
  ////////////////////////////////////////////////////
  //
  //	TLDR
  //
  ////////////////////////////////////////////////////
  #{$root}__tldr{
    @include mt(xxl);
    
    @include media('>m'){
      @include mt(xxxxl);
    }
  }
  
  #{$root}__description{
    @include f(body);
    @include f(light90);
    @include f(xxl);
    line-height: 1.5;

    max-width: 45rem;
  }

  ////////////////////////////////////////////////////
  //
  //	Work
  //
  ////////////////////////////////////////////////////

  #{$root}-work{ 
    @include mt(xxl);
    @include py(xxl);
    @include bg(light10);
    
    @include media('>m'){
      @include mt(xxxxl);
    }
  }
  
  #{$root}-work__subtitle {
    @include f(xl);
    @include f(medium);
    @include f(light40);
  }

  #{$root}-work__title {
    @include mt(s);
    @include mb(0);

    @include f(xl);
    @include f(light90);
    @include f(medium);
  }

  #{$root}-work__content{
    @include b-flex;
    padding-left: calc(100vw / 14 * 1);
    padding-right: calc(100vw / 14 * 1);
    overflow: auto;
    @include pt(xl);
    
    & > * {
      // max-width: 40rem;
      min-width: max(16rem, calc(100vw / 14 * 5));
      
      & + * {
        @include ml(m);
      }
    }
    
    @include media('>m'){
      padding-left: calc(100vw / 14 * 2);
      padding-right: calc(100vw / 14 * 2);
    }
  }
}

@keyframes logo-leg {
  0% { stroke: color(red30) }
  7% { stroke: color(red50) }

  14% { stroke: color(orange30) }
  21% { stroke: color(orange50) }

  28% { stroke: color(yellow30) }
  35% { stroke: color(yellow50) }
  
  42% { stroke: color(green30) }
  49% { stroke: color(green50) }
  
  56% { stroke: color(teal30) }
  63% { stroke: color(teal50) }
  
  70% { stroke: color(blue30) }
  77% { stroke: color(blue50) }
  
  84% { stroke: color(light30) }
  91% { stroke: color(light50) }
}