.view-home{
  $root: '.view-home';

  .main{
    @include b-relative;
    @include z(1);
  }

  .container{
    width: calc(100% / 14 * 10);
    max-width: 72rem;
    @include mx(auto);

  }

  ////////////////////////////////////////////////////
  //
  //	Figures
  //
  ////////////////////////////////////////////////////
  #{$root}__figure {
    @include b-absolute;
    @include t(0);
    @include l(0);
    @include z(1);
  }

  #{$root}__top-right{
    left: unset;
    right: 0;
  }

  #{$root}__top-left {
    top: 22rem;
  }


  ////////////////////////////////////////////////////
  //
  //	Logo
  //
  ////////////////////////////////////////////////////
  
  #{$root}__logo{
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;

    #{$root}__glyph {
      width: 4rem;
      height: auto;
    }
  }


  ////////////////////////////////////////////////////
  //
  //	Intro
  //
  ////////////////////////////////////////////////////

  #{$root}__intro{
  }

  #{$root}__name{
    @include f(body);
    @include f(l);
    @include f(light90);
  }

  #{$root}__title{
    @include m(0);

    @include f(body);
    @include f(xxxxxxl);
    @include f(blue50);
    @include f(medium);
    line-height: 1.25;
  }  

  #{$root}__description{
    @include f(body);
    @include f(light70);
    @include f(xxl);
    line-height: 1.5;
  }
}