.debug {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  width: 100vw;
  max-width: 90rem;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  pointer-events: none;
  
  .debug__item {
    border: 1px solid rgba(255, 0, 0, .1);
  }
}