.work-item {
  $root: '.work-item';

  @include b-flex;
  @include b-flex(column);

  text-decoration: none;

  ////////////////////////////////////////////////////
  //
  //	Intro
  //
  ////////////////////////////////////////////////////

  #{$root}__intro{
    flex: 0;
    @include b-flex();

    & > * + * {
      @include ml(s);
    }
  }

  #{$root}__i {
    @include f(m);
    @include f(light90);
  }
  #{$root}__n {
    @include f(m);
    @include f(light30);
  }

  ////////////////////////////////////////////////////
  //
  //	Figure
  //
  ////////////////////////////////////////////////////
  
  #{$root}__figure{
    @include mt(m);
    @include mx(0);
    border-radius: 8px;

    overflow: hidden;
  }

  #{$root}__image{
    @include width(100);
    object-fit: contain;

    @include shadow(l);

    @include td(m);
  }


  ////////////////////////////////////////////////////
  //
  //	Content
  //
  ////////////////////////////////////////////////////

  #{$root}__content{
    @include b-flex;
    @include b-flex(column);
    @include py(m);
  }

  #{$root}__title {
    @include f(xl);
    @include f(light80); 
    @include f(medium);
  }

  #{$root}__description {
    @include mt(xs);

    @include f(xl);
    @include f(light60);
  }

  #{$root}__cta{
    @include mt(l);
    @include b-inblock;
    align-self: baseline;
    
    @include f(xl);
  }

  

  ////////////////////////////////////////////////////
  //
  //	Interactive
  //
  ////////////////////////////////////////////////////

  &:hover,
  &:focus {
    #{$root}__image{
      transform: scale(1.05);
    }
  }

  ////////////////////////////////////////////////////
  //
  //	Variants
  //
  ////////////////////////////////////////////////////
  &.-sayl {
    #{$root}__figure {
      @include bg(teal70);
    }
  }

  &.-shopitag {
    #{$root}__figure {
      background: #0C2831;
    }
  }

  &.-spices {
    #{$root}__figure {
      @include bg(yellow60);
    }
  }
}