////////////////////////////////////////////////////
//
//  Light
//
////////////////////////////////////////////////////

$light00: #fbfcfc !default;
$light10: #ecf3f6 !default;
$light20: #d5e0e6 !default;
$light30: #b7c5cc !default;
$light40: #93a1a8 !default;
$light50: #6e7a81 !default;
$light60: #4e575d !default;
$light70: #373e42 !default;
$light80: #292e32 !default;
$light90: #24282b !default;

////////////////////////////////////////////////////
//
//  Dark
//
////////////////////////////////////////////////////

$dark00: #101112 !default;
$dark10: #1d1f20 !default;
$dark20: #2b2f30 !default;
$dark30: #393e41 !default;
$dark40: #454c50 !default;
$dark50: #4f585d !default;
$dark60: #566066 !default;
$dark70: #5b666d !default;
$dark80: #5e6971 !default;
$dark90: #5f6a73 !default;

////////////////////////////////////////////////////
//
//  Red
//
////////////////////////////////////////////////////

$red00: #FFF2F5 !default;
$red10: #FCBDCA !default;
$red20: #F58AA0 !default;
$red30: #EC5E79 !default;
$red40: #DE3C58 !default;
$red50: #CC233D !default;
$red60: #B31226 !default;
$red70: #940714 !default;
$red80: #700207 !default;
$red90: #4A0001 !default;

////////////////////////////////////////////////////
//
//	Orange
//
////////////////////////////////////////////////////

$orange00: #FFF5F2 !default;
$orange10: #FCCEBD !default;
$orange20: #F5A78A !default;
$orange30: #EC845E !default;
$orange40: #DE653C !default;
$orange50: #CC4B23 !default;
$orange60: #B33512 !default;
$orange70: #942307 !default;
$orange80: #942307 !default;
$orange90: #4A0B00 !default;

////////////////////////////////////////////////////
//
//	Yellow
//
////////////////////////////////////////////////////

$yellow00: #FFFAEE !default;
$yellow10: #FDE6B6 !default;
$yellow20: #F8D280 !default;
$yellow30: #F2C052 !default;
$yellow40: #E8AE2E !default;
$yellow50: #DB9E14 !default;
$yellow60: #C98E03 !default;
$yellow70: #B37E00 !default;
$yellow80: #9A6E00 !default;
$yellow90: #805B00 !default;

////////////////////////////////////////////////////
//
//	Green
//
////////////////////////////////////////////////////

$green00: #F2FFF9 !default;
$green10: #CAFDE7 !default;
$green20: #A1F8D2 !default;
$green30: #7DEDBC !default;
$green40: #5EDDA4 !default;
$green50: #46C78C !default;
$green60: #33AD74 !default;
$green70: #25905D !default;
$green80: #1B7348 !default;
$green90: #135735 !default;

////////////////////////////////////////////////////
//
// Teal
//
////////////////////////////////////////////////////

$teal00: #F2FFFC !default;
$teal10: #BDFCEF !default;
$teal20: #8AF5E2 !default;
$teal30: #5EECD7 !default;
$teal40: #3CDECD !default;
$teal50: #23CCC4 !default;
$teal60: #12ACB3 !default; 
$teal70: #078094 !default;
$teal80: #025570 !default;
$teal90: #00314A !default;

////////////////////////////////////////////////////
//
// Blue
//
////////////////////////////////////////////////////

$blue00: #fcfeff !default;
$blue05: #edf8fd !default;
$blue10: #dcf2fc !default;
$blue20: #bce7fa !default;
$blue30: #80cdf0 !default;
$blue40: #4fb5e1 !default;
$blue50: #2c9ccb !default;
$blue60: #1480ab !default;
$blue70: #066182 !default;
$blue80: #013c4f !default;
$blue90: #002b38 !default;

////////////////////////////////////////////////////
//
//  Terms
//
////////////////////////////////////////////////////

$transparent: transparent;
$current: currentColor;
$none: none;
$white: #fff;
$black: $light90 !default;

////////////////////////////////////////////////////
//
//  Primary
//
////////////////////////////////////////////////////

$primary00: $blue00 !default;
$primary05: $blue05 !default;
$primary10: $blue10 !default;
$primary20: $blue20 !default;
$primary30: $blue30 !default;
$primary40: $blue40 !default;
$primary50: $blue50 !default;
$primary60: $blue60 !default;
$primary70: $blue70 !default;
$primary80: $blue80 !default;
$primary90: $blue90 !default;


////////////////////////////////////////////////////

$primary: (
  primary00: $primary00,
  primary05: $primary05,
  primary10: $primary10,
  primary20: $primary20,
  primary30: $primary30,
  primary40: $primary40,
  primary50: $primary50,
  primary60: $primary60,
  primary70: $primary70,
  primary80: $primary80,
  primary90: $primary90
) !default;

$light: (
  light00: $light00,
  light10: $light10,
  light20: $light20,
  light30: $light30,
  light40: $light40,
  light50: $light50,
  light60: $light60,
  light70: $light70,
  light80: $light80,
  light90: $light90
) !default;

$dark: (
  dark00: $dark00,
  dark10: $dark10,
  dark20: $dark20,
  dark30: $dark30,
  dark40: $dark40,
  dark50: $dark50,
  dark60: $dark60,
  dark70: $dark70,
  dark80: $dark80,
  dark90: $dark90
) !default;

$red: (
  red00: $red00,
  red10: $red10,
  red20: $red20,
  red30: $red30,
  red40: $red40,
  red50: $red50,
  red60: $red60,
  red70: $red70,
  red80: $red80,
  red90: $red90
) !default;

$orange: (
  orange00: $orange00,
  orange10: $orange10,
  orange20: $orange20,
  orange30: $orange30,
  orange40: $orange40,
  orange50: $orange50,
  orange60: $orange60,
  orange70: $orange70,
  orange80: $orange80,
  orange90: $orange90
) !default;

$yellow: (
  yellow00: $yellow00,
  yellow10: $yellow10,
  yellow20: $yellow20,
  yellow30: $yellow30,
  yellow40: $yellow40,
  yellow50: $yellow50,
  yellow60: $yellow60,
  yellow70: $yellow70,
  yellow80: $yellow80,
  yellow90: $yellow90
) !default;

$green: (
  green00: $green00,
  green10: $green10,
  green20: $green20,
  green30: $green30,
  green40: $green40,
  green50: $green50,
  green60: $green60,
  green70: $green70,
  green80: $green80,
  green90: $green90
) !default;

$teal: (
  teal00: $teal00,
  teal10: $teal10,
  teal20: $teal20,
  teal30: $teal30,
  teal40: $teal40,
  teal50: $teal50,
  teal60: $teal60,
  teal70: $teal70,
  teal80: $teal80,
  teal90: $teal90
) !default;

$blue: (
  blue00: $blue00,
  blue10: $blue10,
  blue20: $blue20,
  blue30: $blue30,
  blue40: $blue40,
  blue50: $blue50,
  blue60: $blue60,
  blue70: $blue70,
  blue80: $blue80,
  blue90: $blue90
) !default;

$terms: (
  transparent: $transparent,
  current: $current,
  none: $none,
  white: $white,
  black: $black,
) !default;

$c-palettes: (
  primary: $primary,
  light: $light,
  dark: $dark,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  blue: $blue,
  terms: $terms
) !default;

$c-colors: ();
@each $palette, $values in $c-palettes {
  $c-colors: map-merge($c-colors, $values);
}
