////////////////////////////////////////////////////
//
//	Font
//
////////////////////////////////////////////////////
$f-icon-root: 'https://cdn.jsdelivr.net/gh/alexandremasy/spices-clove@v1.0.2/src/spices-clove-regular/webfonts/' !default;
$f-icon: 'spices-clove-regular' !default;

@font-face {
  font-family: $f-icon;
  font-weight: 400;
  font-style: normal;
  
  $src: $f-icon-root + $f-icon;
  $woff: $src + ".woff";
  $woff2: $src + ".woff2";
  src: url($woff2) format("woff2"), url($woff) format("woff");

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

////////////////////////////////////////////////////
//
//	Available icons
//
////////////////////////////////////////////////////

@import "@spices/clove/src/spices-clove-regular/manifest.scss";
$f-icons: $spices-clove-regular-icons !default;

////////////////////////////////////////////////////
//
//	Style
//
////////////////////////////////////////////////////
[class^="icon-"],
[class*=" icon-"]{
  font-style: normal;
  font-family: $f-icon;
}

.icon-none{
  &::before{
    content: '◻';
  }
}

@mixin icon($name, $init: false) {
  $value: map-get($f-icons, $name);

  &::before {
    content: unicode($value);
  }
}

@function unicode($str) {
  @return unquote('"#{$str}"');
}

@each $name, $icon in $f-icons {
  .#{$name} {
    @include icon($name, true);
  }
}

////////////////////////////////////////////////////
//
//                   CSS Variables
//
////////////////////////////////////////////////////
:root {
  @each $iname, $ivalue in $f-icons{
    --#{$iname}: #{$ivalue};
  }
}