////////////////////////////////////////////////////
//
//              Typography configuration
//
////////////////////////////////////////////////////

$f-icon-root: 'https://cdn.sayl.cloud/spices/themes-abc/1.11.0/' !default;
$f-icon: 'pepper-themes-abc' !default;
$f-body: 'Barlow' !default;
$f-code: 'PT Mono' !default;
$f-default:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif !default;

$f-faces: (
  body: (
    family: $f-body,
    type: google,
    weights: (
      300,
      400,
      500
    )
  ),

  code: (
    family: $f-code,
    type: google,
    weights: (
      400
    )
  )
) !default;

$f-root: 16px !default;

$f-sizes: (
  xxxxxxl: (1.5rem, 2.625rem),
  xxxxxl: (1.5rem, 2.25rem),
  xxxxl: 2rem,
  xxxl: 1.75rem,
  xxl: (1.25rem, 1.5rem),
  xl: (1.125rem, 1.25rem),
  l: (1rem, 1.125rem),
  m: 1rem,
  s: 0.875rem,
  xs: 0.75rem,
  xxs: 0.625rem
) !default;



////////////////////////////////////////////////////
//
//	Typography styles
//
////////////////////////////////////////////////////
@mixin heading1{
  @include f(xxxxxxl);
  @include f(regular);
  line-height: 1.15;
}

@mixin heading2{
  @include f(xxxxxl);
  @include f(regular);
  line-height: 1.15;
}

@mixin heading3{
  @include f(xxxxl);
  @include f(regular);
  line-height: 1.15;
}

@mixin heading4{
  @include f(xxxl);
  @include f(regular);
  line-height: 1.15;
}

@mixin heading5{
  @include f(xxl);
  @include f(regular);
  line-height: 1.15;
}

@mixin heading6{
  @include f(xl);
  @include f(regular);
  line-height: 1.15;
}

@mixin subtle1{
  @include f(xl);
  @include f(medium);
  line-height: 1.33;
}

@mixin subtle2{
  @include f(m);
  @include f(medium);
  line-height: 1.33;
}

@mixin subtle3{
  @include f(s);
  @include f(medium);
  line-height: 1.33;
}

@mixin body1{
  @include f(m);
  @include f(regular);
  line-height: 1.5;
}

@mixin body2{
  @include f(s);
  @include f(regular);
  line-height: 1.5;
}

@mixin body3 {
  @include f(xs);
  @include f(regular);
  line-height: 1.5;
}

@mixin caption{
  @include f(s);
  @include f(regular);
  @include f(italic);
  line-height: 1.25;
}

@mixin overline{
  @include f(s);
  @include f(medium);
  line-height: 1.25;
}
